body{
    background-color: rgb(178, 255, 106);
}

#dad {
    animation-name: shrinkgrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
 }   

 @keyframes shrinkgrow {
    from {height: 10px;}
    to {height: 1000px;}
 }




